<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackupc2017</title>
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    <link rel="stylesheet" type="text/css" href='../../static/css/bootstrap/bootstrap.min.css'>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src='../../static/js/bootstrap/bootstrap.min.js' ></script>
</head>
{% block content %}{% endblock %}
</html>
