{% if request.user.is_authenticated %}
    <a class="b-twitter-login-card" href="/logout">
{% else %}
    <a class="b-twitter-login-card" href="/login/twitter">
{% endif %}
    {% load static %}
    {% load widget_tweaks %}
    <link rel="stylesheet" type="text/css" href='../../static/css/loginCardTwitter.css'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" id="twitter-icon" ><img src="../../static/twitter.png"></div>
            <div class="col-md-10" id="twitter-name">
                <h5>
                    {% if request.user.is_authenticated %}
                        {{ request.user.username }}
                    {% else %}
                        Login via Twitter
                    {% endif %}
                </h5>
            </div>
        </div>
    </div>
{% if request.user.is_authenticated %}
    </div>
{% else %}
    </a>
{% endif %}
