<div class="b-user_side_menu">
    {% load static %}
    {% load widget_tweaks %}
    <link rel="stylesheet" type="text/css" href='../../static/css/sideMenu.css'>
    <div class="b-user-info">
        <div class="container">
            <div class="row">
                {% if request.user.is_authenticated %}
                    <img src="../../static/Tp3aR75sX5g.jpg" alt="Avatar"> <br>
                    {% include "loginCardFacebook.html" %}
                    {% include "loginCardTwitter.html" %}
                {% else %}
                    {% include "loginCard.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>