html, body
{
    height: 100%;
}

.background-image {
    background-color: #ffffff;
    /*-webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
    display: block;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
}

.b-user_side_menu {
    z-index: -1;
    height: 100%;
    margin-right: 0;
    background: linear-gradient(141deg, #aa90a0 0%, #fed98d 75%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.b-user-info {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.b-user-info img {
    width: 80%;
    margin-left: 10%;
    border-radius: 50%;
    border-style: solid;
    border-width: 15px;
    border-color: #ffffff;
    object-fit: cover;
    margin-bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rating {
    margin-right: 20%;
    margin-left: 20%;
    height: 100px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rating h1 {
    padding-top: 24px;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
}

.networks {
    padding-bottom: 0;
}



/*background-image: url("../../static/back.jpg");*/